#img-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: whitesmoke;
  overflow: scroll;
}

.items {
  position: absolute;
}

#rain {
  animation: raining 2s linear infinite;
  z-index: 1;
}
#rain2 {
  animation: raining 3s linear infinite;
  z-index: 2;
}

@keyframes raining {
  0% {
    opacity: 0;
    transform: translateY(0vh), translateX(5vh);
  }
  10% {
    opacity: 0.3;
    transform: translateX(10vh), translateY(15vh);
  }
  20% {
    opacity: 0.6;
    transform: translateX(25), translateY(25vh);
  }
  30% {
    opacity: 0.9;
    transform: translateX(30), translateY(25vh);
  }
  40% {
    opacity: 1;
    transform: translateX(45vh), translateY(40vh);
  }
  50% {
    opacity: 1;
    transform: translateX(50vh), translateY(50vh);
  }
  60% {
    opacity: 0.9;
    transform: translateX(55vh, 65vh);
  }
  70% {
    opacity: 0.6;
    transform: translateX(65vh, 70vh);
  }
  80% {
    opacity: 0.6;
    transform: translateX(70vh, 80vh);
  }
  90% {
    opacity: 0.3;
    transform: translateX(80vh, 85vh);
  }
  100% {
    opacity: 0;
    transform: translateX(85vh, 90vh);
  }
}
#taxi {
  transform: translate(85vh, 90vh);
}
#bus {
  transform: translate(135vh, 49.5vh);
  position: absolute;
}
#traffic {
  transform: translate(30vh, 48.5vh);
}

#bus-box {
  transform: translateX(300vh);
  transform: translateY(200vh);
  animation: drive 3s linear infinite;
}

@keyframes drive {
  0% {
    transform: translateX(0vh);
  }
  50% {
    transform: translateX(-10vh);
  }
  100% {
    transform: translateX(-25vh);
  }
}
#lamp {
  background: opacity= "0";
  transform: translate(-15vh, 40vh)
}

#